/* FONT */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@500&display=swap');
/*
font-family: 'EB Garamond',
serif;
font-family: 'Montserrat',
sans-serif;
*/

/* CUSTOM PROPERTIES */

* {
    box-sizing: border-box;
}

/* CONTENT */
body {
    height: 100vh;
    background-color: #F7E4D4;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 480px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-family: 'EB Garamond', serif;
    font-size: 48px;
    color: #467745;
    margin: 20px auto
}

.subject,
textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #467745;
    padding: 0;
    margin: 0;
    border: 0;
}

.subject {
    height: 64px;
}

::placeholder {
    color: #467745;
    padding: 0 20px
}

textarea {
    height: 120px;
    margin: 30px 0;
    padding: 20px 20px;
    resize: none
}

.checkbox {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: white;
    color: #467745;
    padding: 12px;
    margin: 0;
    border-radius: 0;
    width: 16px;
    height: 16px;
    outline: none;
    cursor: pointer;
    margin-right: 20px;
    appearance: none;
}

.save-button {
    width: 280px;
    height: 80px;
    background-color: #467745;
    font-family: 'EB Garamond', serif;
    font-size: 21px;
    color: #F7E4D4;
    letter-spacing: .2rem;
    border: none;
    padding: 0;
    margin: 30px auto;
    border-radius: 40px;
    text-transform: uppercase;
}

.policy-container {
    display: flex;
    align-items: center;
}

.policy {
    margin: 0 10px
}

label,
a {
    color: #467745
}

@media (max-width: 520px) {
    .container {
        margin: 20px
    }

    .title {
        font-size: 36px;
        margin: 20px 0;
    }

    .subject,
    textarea {
        width: 100%
    }
}